{% load menu_tags %}
{% load extra_tags %}
{% spaceless %}

{% regroup children by attr.stamp_type as designer_list %}
<ul>
{% for type in designer_list %}                                                                                                            
  {% if type.grouper == 1 %}
  <li class="heading">other assorted materials</li>
  {% endif %}
  {% for item in type.list %}
  <li {% if item.selected or selected.ancestor %}class="selected"{% endif %}>
	<a href="{{ item.attr.redirect_url|default:item.get_absolute_url }}">{{ item.get_menu_title }}</a>
  </li>                
  {% endfor %}
{% endfor %}
<ul>

{% endspaceless %}
