{% load menu_tags %}
{% load extra_tags %}
{% spaceless %}
{% if children %}
    {% for child in children %}
    <li 
      class="{% if child.selected or child.ancestor %}selected {% endif %}{% if child.ancestor.dead %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}"
    >
      <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{% firstof child.attr.value 'n/a' %}</a>
    </li>
    {% endfor %}
{% endif %}
{% endspaceless %}
