/* GLOBAL SETTINGS */
body {
  font: normal 100% Arial, Hevetica, sans-serif; }

#page {
  width: 90%;
  margin: 3em;
  float: left;
  font-size: .7857em;
  line-height: 1.5em;
  /* 18/12 */ }

/* LAYOUT */
#all-content {
  width: 100%;
  float: left;
  font-size: .9em; }

.side-menu {
  float: left;
  padding-right: 2em;
  width: 15%; }

#main-content {
  float: left; }

#content {
  width: 80%;
  float: left; }

#column-content {
  float: left; }

#side-content {
  float: left;
  width: 20%;
  padding-left: 2em; }
  #side-content p {
    line-height: 1.38461538;
    /* 18/13px */ }

img {
  max-width: 100%;
  display: block; }

/* ENTRIES INDEX: Book & Typography */
.entry {
  padding: 0 0 1em 0;
  margin: 0 0 .5em 0; }
  .entry p {
    margin: 1em 0 1em 0; }

/* TYPOGRAPHY */
#typography nav.menu {
  float: none;
  width: 100%; }

/* Menus specific to the Stamps Page */
nav#designer-nav {
  float: left;
  padding-right: 45px; }

nav#sponsor-nav {
  float: left; }

nav#designer-nav .separator {
  margin-top: 11px; }

/* This displays just below stamps */
footer {
  clear: left;
  float: left;
  padding-top: 40px; }

#body-footer-nav {
  clear: left;
  float: left; }

/* Secondary Navigation Menu Layout */
nav {
  /* Bottom Menu Layout */ }
  nav#sub-menu {
    font-size: .9em; }
    nav#sub-menu ul li {
      margin-right: 1em;
      display: inline; }
  nav#footer-menu {
    font-size: .9em; }
    nav#footer-menu ul li {
      margin-left: .5em;
      margin-right: 1em;
      display: inline; }
      nav#footer-menu ul li.prev, nav#footer-menu ul li.next {
        margin-left: 0; }
      nav#footer-menu ul li a {
        color: black; }
        nav#footer-menu ul li a:visited {
          color: black; }

/* Regular Links */
a {
  text-decoration: none; }
  a:visited {
    color: #808385; }

/* MENUS */
nav.menu {
  clear: both;
  float: left;
  display: block;
  padding: 1em 0 1em 0; }
  nav.menu ul {
    margin: 0;
    padding: 0; }
    nav.menu ul li {
      display: inline;
      margin-right: 1em; }
      nav.menu ul li.prev a, nav.menu ul li.next a {
        color: black; }
        nav.menu ul li.prev a:visited, nav.menu ul li.next a:visited {
          color: black; }

/* Top menus */
nav#top-menu ul li {
  margin-left: 1em;
  margin-right: 1em; }
  nav#top-menu ul li.selected a {
    color: #870000; }
  nav#top-menu ul li.ancestor a {
    color: #870000; }
  nav#top-menu ul li.first {
    margin-left: 0;
    margin-right: 0; }
    nav#top-menu ul li.first a {
      color: black; }
      nav#top-menu ul li.first a:visited {
        color: black; }
    nav#top-menu ul li.first a {
      font-weight: 600; }
  nav#top-menu ul li.next {
    margin-left: 0; }

nav#sub-menu ul li.first a {
  color: #870000; }

nav#top-menu a, nav#sub-menu a {
  text-decoration: none;
  color: black; }
  nav#top-menu a :visited, nav#sub-menu a :visited {
    color: black; }

/* Text Links */
.text a {
  color: #C06D6D; }

/* STAMPS */
ul#stamp-meta {
  clear: both; }

nav.menu ul#stamp-values li a, nav.menu ul#stamp-families li a {
  color: #C06D6D; }
  nav.menu ul#stamp-values li a:visited, nav.menu ul#stamp-families li a:visited {
    color: #808385; }
nav.menu ul#stamp-values li.prev a, nav.menu ul#stamp-values li.next a, nav.menu ul#stamp-families li.prev a, nav.menu ul#stamp-families li.next a {
  color: black; }
  nav.menu ul#stamp-values li.prev a:visited, nav.menu ul#stamp-values li.next a:visited, nav.menu ul#stamp-families li.prev a:visited, nav.menu ul#stamp-families li.next a:visited {
    color: black; }
nav.menu ul#stamp-values li.selected a, nav.menu ul#stamp-families li.selected a {
  color: #870000 !important;
  font-weight: bold; }

#header-title {
  font-weight: bold;
  color: #323133; }

/* General Character Styles */
.highlight-color {
  color: #870000; }

.highlight-bold {
  font-weight: bold; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/* General Layout Styles */
#content p {
  margin-bottom: 22px; }

table p {
  margin-top: 11px;
  margin-bottom: 11px; }

/* No Display */
.invisible {
  visibility: hidden; }

/* DASHBOARD */
#dashboard #stamp-meta li {
  padding: 0;
  margin: 0; }
#dashboard li {
  padding: 1em;
  margin: 1em 1em 1em 0; }
#dashboard li.designer {
  float: left;
  border: thin solid black; }
  #dashboard li.designer h3 {
    font-weight: 700;
    font-size: 1.5em;
    /* 24/16 */
    display: inline; }
  #dashboard li.designer h4 {
    font-weight: 700;
    font-size: 1.1em;
    display: inline; }
  #dashboard li.designer li.family {
    float: left;
    background: #CFCFCF; }
    #dashboard li.designer li.family li.stamp {
      float: left;
      border: thin dashed #DEDEDE;
      background: white; }
