/* GLOBAL SETTINGS */

$highlight-color: #870000;

body {
  font: normal 100% Arial, Hevetica, sans-serif;
}

#page {
  width: 90%;
  margin: 3em;
  float: left;
  font-size: .7857em;
  line-height: 1.5em; /* 18/12 */
}

/* LAYOUT */

#all-content {
  width: 100%;
  float: left;
  font-size: .9em;
}

.side-menu {
  float: left;
  padding-right: 2em;
  width: 15%;
}

#main-content {
}

#content {
  width: 80%;
  float: left;
}

#column-content {
  width: 40%; /* 384/960 */
  float: left;
}

.column-content {
  width: 40%; /* 384/960 */
  float: left;
}

#stamps {
  &.column-content {
    width: 30%; /* 288/960 */ 
    float: left;
  }
}

#side-content {
  float: left;
  width: 22%;
  padding-left: 2em;
//  p {
//    line-height: 1.38461538; /* 18/13px */
//  }
}

img {
  max-width: 100%;
  display: block;
}

/* ENTRIES INDEX: Book & Typography */
.entry {
  padding: 0 0 1em 0;
  margin: 0 0 .5em 0;
  p {
    margin: 1em 0 1em 0;
  }
}

/* TYPOGRAPHY */
#typography {
  nav.menu {
    float: none;
    width: 100%;
  }
}


/* Menus specific to the Stamps Page */

nav#designer-nav {
  float: left;
  padding-right:45px;
}

nav#sponsor-nav {
  float: left;
}

nav#designer-nav .separator {
  margin-top: 11px;
}

/* This displays just below stamps */

footer {
  clear: left;
  float: left;
  padding-top:40px;
}

#body-footer-nav {
  clear: left;
  float: left;
}

/* Secondary Navigation Menu Layout */

nav {
  &#sub-menu {
    font-size: .9em;
    li#page-title {
      color: $highlight-color;
    }
    ul li {
      margin-right: 1em;
      display: inline;
    }
  }
  /* Bottom Menu Layout */
  &#footer-menu {
    font-size: .9em;
    ul li {
      margin-left: .5em;
      margin-right: 1em;
      display: inline;
      &.prev, &.next {
        margin-left: 0;
      }
      a { 
        color: black;
        &:visited { color: black; }
      }
    }
  }
}

/* Regular Links */
a {
  text-decoration: none;
  color: black;
  &:visited {
    color: #808385;
  }
}

/* MENUS */

// Common to all menus
nav.menu {
  clear: both;
  float: left;
  display: block;
  padding: 1em 0 1em 0;
  ul { 
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-right: 1em;
      &.prev, &.next {
        a {
          color: black;
          &:visited {
            color:black;
          }
        }
      }
    }
  }
}

/* Top menus */
nav#top-menu {
  ul li {
    margin-left: 1em;
    margin-right: 1em;
    &.selected a {
      color: $highlight-color;
    }
    &.ancestor a {
      color: $highlight-color;
    }
    &.first { 
      a {
        color: black;
        &:visited {
          color: black;
        }
      }
      margin-left: 0;
      margin-right: 0;
      a { font-weight: 600; }
    }
    &.next {
      margin-left: 0;
    }
  }
}

nav#sub-menu {
  ul li.first a {
    color: $highlight-color;
  }
}

nav#top-menu a, nav#sub-menu a {
  text-decoration: none;
  color: black;
  :visited {
    color: black;
  }
}

/* Text Links */
.text a {
  color: #C06D6D;
}

/* STAMPS */

ul#stamp-meta {
  clear: both;
}

nav.menu {
  ul#stamp-values, ul#stamp-families {
    li {
      a { 
        color: #C06D6D;
        &:visited {
          color: #808385;
        }
      }
    }
    li.prev a, li.next a {
      color: black;
      &:visited {
        color: black;
      }
    }
    li.selected {
      a {
      color: $highlight-color !important;
      font-weight: bold
      }
    }
  }
}

#header-title {
  font-weight:bold;
  color: #323133;
}

/* General Character Styles */
.highlight-color {
  color: $highlight-color;
}

.highlight-bold {
  font-weight: bold;
}

strong {
  font-weight:bold;
}

em {
  font-style: italic;
}

/* General Layout Styles */

#content p {
  margin-bottom:22px;
}

table p {
  margin-top:11px;
  margin-bottom:11px;
}

/* No Display */
.invisible {
  visibility: hidden;
}

/* DASHBOARD AND UI*/

#stamp-edit-controls {
  float: left;
}

#dashboard {
  #stamp-meta {
    li {
      padding: 1em;
      margin: 1em;
    }
  }
  .designer {
    padding: 1em;
    margin: 1em;
    border: thin solid black;
    h3 {
      font-weight: 700;
      font-size: 1.5em; /* 24/16 */
      display: inline;
    }
    h4 {
      font-weight: 700;
      font-size: 1.1em;
      display: inline;
   }
    .family {
      padding: 1em;
      margin: 1em 0 1em 0;
      background: #CFCFCF;
      border: thin solid black;
      .stamp {
        padding: 1em;
        margin: 1em;
        border: thin dashed #DEDEDE;
        background: white;
      }
    }
  } 
}

