{% extends 'stamps/base.html' %}
{% load menu_tags %}
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}

{% block main %}
This is stamps/detail.html
family links
{% stamp_family_links %}
<ul>
    {% stamp_links %}
</ul>
families
<ul>
{% stamp_families %}
</ul>
<div class="detail-content">         
    {% with "384" as width %}
    {% render_placeholder stamp.content width %}
    {% endwith %}
</div>
values
<ul>
{% stamp_values %}
</ul>
<div class="sidebar-content">
    {% render_placeholder stamp.sidebar %}
</div>
{% endblock %}

