{% extends 'stamps/base.html' %}
{% load menu_tags %}
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}

{% block main %}
This is stamps/detail.html
family links
{% stamp_family_links %}
selected: <li>{{ misc }}</li>
stamp links
<ul>
{% stamp_links %}
</ul>
<ul>
{% stamp_menu 'designer' %}
</ul>
<ul>
{% stamp_menu 'family' %}
</ul>
<ul>
{% stamp_menu 'stamp' %}
</ul>

<div class="detail-content">         
    {% with "384" as width %}
    {% render_placeholder e.content width %}
    {% endwith %}
</div>
<div class="sidebar-content">
    {% render_placeholder e.sidebar %}
</div>
{% endblock %}

