{% extends 'stamps/base.html' %}
{% load menu_tags %}
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}

{% block sub-menu %}
<nav class="menu" id="sub-menu">
  <ul>
    <li id="page-title" >{{ request.current_page.get_title }}</li>
    {% stamp_families %}
    {% stamp_family_links %}
  </ul>
</nav>
{% endblock %}

{% block main %}
<div class="detail-content">         
    <a href="{% stamp_links %}">
    <img src="{{ MEDIA_URL }}/{{ stamp.picture }}"/>
    </a>
    {% with "384" as width %}
    {% render_placeholder stamp.content width %}
    {% endwith %}
</div>
values
<ul>
{% stamp_values %}
</ul>
<div class="sidebar-content">
    {% render_placeholder stamp.sidebar %}
</div>
{% endblock %}

