{% extends 'entries/base.html' %}
{% load cms_tags %}
{% load extra_tags %}
{% load placeholder_tags %}

{% block side-content %}
<div id="side-content">
  {% placeholder "sidebar" %}
</div>
{% endblock %}

{% block main %}
<div class="column-content">
  {% for e in list %}
  <div class="entry">
      {% with "384" as width %}
        {% render_placeholder e.cover width %}
      {% endwith %}
      <p><strong>{{ e.title }}.</strong> {{ e.subtitle }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
