{% extends "entries/base.html" %}
{% load cms_tags %}
{% load extra_tags %}
{% load placeholder_tags %}

{% block main %}
<div class="column-content" id="typography">
    {% with "384" as width %}
      {% render_placeholder e.content width %}
    {% endwith %}

  <nav class="menu">
    <ul>
    {% prev_next_links_internal %}
    </ul>
  </nav>

    {% with "384" as width %}
      {% render_placeholder e.secondary_content %}
    {% endwith %}
</div>
{% endblock %}

{% block side-content %}
  <div id="side-content">
    {% with "384" as width %}
      {% render_placeholder e.sidebar %}
    {% endwith %}
  </div>
{% endblock %}
