{% extends "base.html" %}  
{% block head %}
  <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui-1.8.9.custom.min.js"></script>
  <script>
    $(function($) {
      $("ul.families" ).sortable({
        item: 'div',
        opacity: 0.6,
        handle: "h4",
        axis: "y",
        cursor: "move",
        update: function(e, ui) {
                  $.ajax({
                    url: "/dashboard/action/",
                    type: "POST",
                    data: ({ 
                      id: $(ui.item).attr('id').replace(/[^\d]+/g, ''), 
                      action: 'family',
                      order: $(ui.item).prevAll().length,
                      csrfmiddlewaretoken: '{{ csrf_token }}'}),
                    success: function(msg) { 
                      var no = 'op'
                      alert(msg)
                    }
                  })            
                }
      });
      $("ul.family" ).sortable({
        item: 'li',
        opacity: 0.6,
        axis: 'y',
        cursor: "move",
        update: function(e, ui) {
                  $.ajax({
                    url: "/dashboard/action/",
                    type: "POST",
                    data: ({ 
                      action: 'stamp',
                      id: $(ui.item).attr('id').replace(/[^\d]+/g, ''), 
                      order: $(ui.item).prevAll().length,
                      csrfmiddlewaretoken: '{{ csrf_token }}'}),
                    success: function(msg) { 
                      var no = 'op'
                      alert(msg)
                    }
                  })            
                }
      });
    })(jQuery)

  </script>

{% endblock %}

{% block main %}
<div id="item_list">
  <ul>
  {% for d in items.all %}
      <h3>{{ d.display_name }}</h3><a href="{% url admin:stamps_designer_change d.id %}">(edit)</a>  
      <ul class="families">
      {% for f in d.families.all %}
        <div id="set_{{ f.id }}" class="family">
          <h4>Family: {{ f.name }}</h2><a href="{% url admin:stamps_family_change f.id %}">(edit)</a> 
          <ul class="family">
          {% for s in f.stamps.all %}
            <li id="set_{{ s.id }}" class="stamp">{{ s.name }} 
              <a href="{% url admin:stamps_stamp_change s.id %}">(edit)</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}




