{% load cms_tags %}
{% load cache menu_tags %}
{% load extra_tags %}
<!doctype html>
<head>
  <title>{{ request.current_page.get_menu_title|capfirst }}</title>
  {% plugins_media %}
</head>

<body>
    <nav class='menu' id='top-menu'>
    <ul>
    {% show_menu 0 5 100 100 %}
    {% prev_next_links %}
    </ul>
    </nav>
    {% block sub-menu %}{% endblock %}
    {% show_placeholder "master-header" "header_footer" %}
    {% block main %}{% endblock %}
    <nav class='menu' id='foot-menu'>
    </nav>                            
    {% show_placeholder "master-footer" "header_footer"  %}
</body>
</html>             
