{% extends 'stamps/base.html' %}
{% load menu_tags %}
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}

{% block sub-menu %}
<nav class="menu" id="sub-menu">
  <ul id="stamp-families">
    <li id="page-title" >{{ request.current_page.get_title }}</li>
    <li><strong>{{ stamp.family.designer.name }}</strong></li>
    {% stamp_families %}
    {% stamp_family_links %}
  </ul>
</nav>
{% endblock %}

{% block main %}
<div id="stamps" class="column-content">         
  <a href="{% stamp_links %}">
    <img src="{{ MEDIA_URL }}/{{ stamp.picture }}"/>
  </a>
  {% with "384" as width %}
  {% render_placeholder stamp.content width %}
  {% endwith %}

  <nav class="menu">
    <ul id="stamp-values">
      {% stamp_values %}
    </ul>
  </nav>

  <ul id="stamp-meta"> 
    <li><span id="place">{% firstof stamp.country stamp.family.country %}</span>.<span class="year">{% firstof stamp.year stamp.family.year %}</span></li>
    <li><span class="name">{% firstof stamp.name stamp.family.name %}</span></li>
  </ul>
  {% render_placeholder stamp.info %}
  {% if request.user.is_authorized %}
  <ul id="stamp-edit-controls">
    <li><a href="{% url dashboard_index %}">dashboard</a></li>
    <li><a href="{% url admin:stamps_designer_change stamp.family.designer.id %}">designer</a>
    <li><a href="{% url admin:stamps_family_change stamp.family.id %}">family</a></li>
    <li><a href="{% url admin:stamps_stamp_change stamp.id %}">stamp</a></li>
  </ul>
  {% endif %}
</div>

<div id="side-content">
    {% render_placeholder stamp.family.designer.info %}
</div>
{% endblock %}

