{% extends 'stamps/base.html' %}
{% load cms_tags %}
{% load placeholder_tags %}
{% load extra_tags %}
{% load stamps_tags %}

{% block sub-menu %}
<nav class="menu" id="sub-menu">
  <ul id="stamp-families">
    <li id="page-title" >{{ request.current_page.get_title }}</li>
    <li><strong>About the collection</strong></li>
    {% stamp_families %}
    {% stamp_family_links %}
  </ul>
</nav>
{% endblock %}

{% block side-content %}
<div id="side-content">
  {% placeholder "sidebar" %}
  {% if sponsors %}
  <div id="sponsor-list"> 
    <p>This collection of pages was made possible with generous help from:</p>
    <ul>
    {% for s in sponsors %}
      <li><a target="_blank" href="{{ s.link }}">{{ s.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block main %}
  <div id="index" class="column-content">
    {% placeholder "main-content" %}
  </div>
{% endblock %}
