{% load menu_tags %}
{% load extra_tags %}
{% if children %}
    {% for child in children %}
    {{ child.parent_id }} {{ child.id }}
<li class="{% if child.selected or child.ancestor %}selected{% endif %}{% if child.ancestor.dead %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
</li>&emsp;|&emsp;
    {% endfor %}
{% endif %}
{% if top_prev %}<li><a href="{% firstof prev top_prev.get_absolute_url %}">&laquo;</a></li>{% endif %}
{% if top_next %}<li><a href="{% firstof next top_next.get_absolute_url %}">&raquo;</a></li>{% endif %}
