-e svn+http://code.djangoproject.com/svn/django/trunk#egg=Django
PIL==1.1.7
South==0.7.3
distribute==0.6.14
django-appmedia==1.0.1
django-classy-tags==0.3.0
django-cms==2.1.1
sorl-thumbnail==11.01
wsgiref==0.1.2
yolk==0.4.1
