{% extends "dashboard/base.html" %}  
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}
{% load dashboard_tags %}

{% block main %}
<div id="dashboard">
<form action="." method="POST">
  {% csrf_token %}
  {{ families.management_form }}
  <table>
  {% for family in families %}
    <div class="formgroup">
      {{ family }}
    </div>
    <div class="formgroup">
      {% render_stamps forloop.counter0 %}
    </div>
  {% endfor %}
  </table>
  <input type="submit" value="Save" />
</form>
{% endblock %}
