{% extends "dashboard/base.html" %}  
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}
{% load dashboard_tags %}

{% block main %}
<form action="." method="POST">
  {% csrf_token %}
  {{ management_form }}
  {% for d, form in designers %}
    <div class="designer">
    <p><a href="{{ d.get_absolute_url }}">{{ d }}</a> <a href="{% url dashboard_detail d.pk %}">(admin)</a></p>
      <div class="formgroup">
      {{ form.as_p }}
      </div>
    </div>
  {% endfor %}
  <input type="submit" value="Save" />
</form>
{% endblock %}
