{% extends "dashboard/base.html" %}  
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}
{% load dashboard_tags %}

{% block main %}
<div id="dashboard">
<form action="." method="POST">
  {% csrf_token %}
  {{ designers.management_form }}
  {% for families in designers %}
  <div class="formgroup">
    <hr>    
    <h2>DESIGNER</h2>
    <hr>
    ping
    {% for family in families %}
      {{ family }}
      {% render_stamps forloop.counter0 %}
    {% endfor %}
    <hr>
  </div>
  {% endfor %}
  <input type="submit" value="Save" />
</form>
{% endblock %}
