{% extends "dashboard/base.html" %}  
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}
{% load dashboard_tags %}

{% block main %}
<div id="dashboard">

<form action="." method="POST">
  {% csrf_token %}
  {{ designers.management_form }}
  {% for designer in designers %}
  <div class="formgroup">
    <hr>    
    <h2>DESIGNER</h2>
    <hr>
    {{ designer }}
    <hr>
    {% if designer.nested %}
    <div class="formgroup">
    {% for families in designer.nested %}
    {{ families.management_form }}
      {% for family in families %}
        <h3>FAMILY</h3>
        {{ family }}
        <hr>
        <div class="formgroup">
        {% render_stamps forloop.counter0 %}
        </div>
      {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <input type="submit" value="Save" />
</form>
{% endblock %}
