{% extends "dashboard/base.html" %}  
{% load extra_tags %}
{% load stamps_tags %}
{% load placeholder_tags %}

{% block main %}
<div id="dashboard">

<form action="." method="POST">
  {% csrf_token %}
  {{ designers.management_form }}
  {% for designer in designers %}
  <div class="formgroup">
    <hr>    
    <h2>DESIGNER</h2>
    <hr>
    {{ designer }}
    <hr>
    {% if designer.nested %}
    <div class="formgroup">
    {% for families in designer.nested %}
      {% for family in families %}
        <h3>FAMILY</h3>
        <hr>
        {{ family.management_form }}
        {{ family }}
        {% if families.nested %}
        {% for stamp in families.nested %}
          <hr>
          <div class="formgroup">
          <h4>STAMP</h4>
          {{ stamp.management_form }}
          {{ stamp }}
          </div>
        {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <input type="submit" value="Save" />
</form>
{% endblock %}
