{% load cms_tags %}
{% load cache menu_tags %}
{% load extra_tags %}
{% load placeholder_tags %}
<!doctype html>
  <head>
    <title>{{ request.current_page.get_menu_title|capfirst }}</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css"/>
    {% plugins_media %}
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="page">
      <!-- Top-level Navigation Menu --> 
      <nav class='menu' id='top-menu'>
        <ul>
        {% show_menu 0 0 0 1 %}
        {% prev_next_links %}
        </ul>
      </nav>
      <!-- Second-level Navigation Menu --> 
      <nav class='menu' id='sub-menu'>
        <ul>
          <li id="page-title" >{{ request.current_page.get_title }}</li>
          {% prev_next_links_internal %}
          </ul>
      </nav>

      <div class="all-content">

        <div class="main-content">

            {% block main %}{% endblock %}

        </div><!-- /end .main-content -->

        <!-- Sidebar Content -->
        {% block side-content %}{% endblock %}

      </div><!-- /end .all-content --> 
      <nav class='menu sub-menu'>
        <ul>
        {% prev_next_links_internal %}
        </ul>
      </nav>
    </div>
  </body>
</html>             
